<section>
  <!-- Begin MailChimp Signup Form -->
  <h1>Subscribe to our mailing list</h1>
  <p>Enter your email address to receive updates</p>
<div id="mc_embed_signup">
<form action="http://rentobo.us4.list-manage.com/subscribe/post?u=035956c027005da86457a5a92&amp;id=b77ec94571" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button oboe-flat"></div>
</form>
</div>

<!--End mc_embed_signup-->
</section>
