<div id="pageFooter" data-region="footer">
  <div class="footer1">
    <div class="container">

      <div class="contactBox">
        {% img /images/logo.png "Rentobo" %}
        Phone: (415) 800-7562 <br />
        San Francisco, CA
        <a href="http://mixpanel.com/f/partner" class="mixpanelBadge" target="_blank">
            {% img https://mixpanel.com/site_media/images/partner/badge_blue.png" %}
</a>      </div>


    </div>
  </div>
  <div class="footer2">
    <div class="container">
       <a href="#" class="fairHousing">
          {% img /images/fair-housing-32.png "Equal Housing" %}
          <span>Equal Housing Opportunity</span>
</a>      <span class="copyright">
        Copyright &copy; 2011-2013 Sibylus, Inc. - Blog powered by Octopress
      </span>
      <ul>
        <li>Terms and Conditions</li>
        <li>Privacy Policy</li>
        <li><a href="#" id="blogLink" target="_blank">Blog</a></li>
        <li><a href="mailto:support@rentobo.com">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
