<div class="container motif oboe-flat">
   <a href="/" title="Rentobo - The Easiest Way to Find a Tenant">
    {% img /images/logo.png "Rentobo" %}
    <span class="logo-caption">company blog</span>
    <ul class="menu" id="nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="selected"><a href="/blog">Blog</a></li>
      <li>
        <a href="http://www.rentobo.com/howitworks">How It Works</a>
      </li>
      <li>
        <a href="http://www.rentobo.com/benefits">Benefits</a>
      </li>
      <li>
        <a href="http://www.rentobo.com/faq">Questions</a>
      </li>
      <li>
        <a href="http://www.rentobo.com/demo">Request a Demo</a>
      </li>
    </ul>
  </a>
</div>
