<div class="container motif oboe-flat">
   <a href="http://www.rentobo.com/blog" title="Rentobo - Rental Property Software">
    {% img /images/logo.png Rentobo %}
    <span class="logo-caption">company blog</span>
    <ul class="menu" id="nav">
      <li>
          <a href="http://www.rentobo.com/">Home</a>
      </li>
      <li class="selected">
        <a href="http://www.rentobo.com/blog">Blog</a>
      </li>
      <li>
          <a href="http://www.rentobo.com/howitworks">How It Works</a>
      </li>
      <li id="features_menu_item">
        <a href="http://www.rentobo.com/">Features</a> 
      </li>
      <li>
        <a href="/faq">Questions</a>
      </li>
      <li>
        <a href="/demo">Request a Demo</a>
      </li>
    </ul>
  </a>
</div>
